<!-- 台账购置 -->
<div class="classification-container">
    <!-- <nz-table #headerTable [nzData]="data" 
    [nzPageSize]="pageSize" 
    [nzSize]="'small'" 
    [nzBordered]="true" 
    [nzShowSizeChanger]="true"
     [nzPageSizeOptions]="pageSizeOptions">
        <thead>
            <tr>
                <th nzColumnKey="name" [nzSortFn]="true">设备名称</th>
                <th nzColumnKey="supplier" [nzSortFn]="true">设备供货商</th>
                <th nzColumnKey="price" [nzSortFn]="true">价格</th>
                <th nzColumnKey="purchaser" [nzSortFn]="true">购买者</th>
                <th nzColumnKey="purchasedate" [nzSortFn]="true">购买日期</th>
                <th nzColumnKey="num" [nzSortFn]="true">购买数量</th>
                <th nzColumnKey="description" [nzSortFn]="true">设备描述</th>
                <th nzColumnKey="equipintroduction" [nzSortFn]="true">设备简介</th>
                <th nzColumnKey="status" [nzSortFn]="true">设备状态</th>
                <th nzColumnKey="begionusetime" [nzSortFn]="true">入库时间</th>>
                <th nzColumnKey="residuenum" [nzSortFn]="true">库存数量</th>
                <th nzColumnKey="type" [nzFilterFn]="true">类型</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of headerTable.data">
                <td>{{ item.name }}</td>
                <td>{{ item.supplier }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.purchaser }}</td>
                <td>{{ item.purchasedate }}</td>
                <td>{{ item.num }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.supplier }}</td>
                <td>{{ item.status }}</td>
                <td>{{ item.begionusetime }}</td>
                <td>{{ item.residuenum }}</td>
                <td>{{ item.type }}</td>
                <td><a (click)="isShowPdf=!isShowPdf">{{ item.name }}操作手册</a> <a (click)="openFram(item.qrcode,item.name)">{{ item.name }}二维码信息</a></td>
            </tr>
        </tbody>
    </nz-table> -->
    <nz-alert nzType="info" nzMessage="此功功能主要完成设备的信息录入，设备购买信息录入，请先完成设备操作手册上传" nzShowIcon style="margin-bottom:8px" *ngIf="userguidefile.length>0?false:true"></nz-alert>
    <nz-upload class="avatar-uploader" [nzAccept]="'jpg'" [nzAction]="url" nzName="file" [nzShowUploadList]="false" [nzBeforeUpload]="beforeUpload" (nzChange)="handleChange($event)">
        <button nz-button nzType="primary"><i nz-icon [nzType]="loading ? 'loading' : 'upload'" nzTheme="outline"></i>上传设备使用手册</button>
    </nz-upload>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)" *ngIf="userguidefile.length>0">
        <!-- 设备名称 -->
        <nz-form-item>
            <nz-form-label nz-col nzSpan="4" nzRequired>设备名称</nz-form-label>
            <nz-form-control nz-col nzSpan="14" nzHasFeedback nzValidatingTip="验证中..." nzErrorTip="请输入正确名称">
                <input nz-input formControlName="name" placeholder="请输入设备名称" />
            </nz-form-control>
        </nz-form-item>
        <!-- 设备供货商 -->
        <nz-form-item>
            <nz-form-label nz-col nzSpan="4" nzRequired>设备供货商</nz-form-label>
            <nz-form-control nz-col nzSpan="14" nzHasFeedback nzErrorTip="请输入正确设备供货商">
                <input nz-input formControlName="supplier" placeholder="请输入设备供应商" />
            </nz-form-control>
        </nz-form-item>
        <!-- 价格 -->
        <nz-form-item>
            <nz-form-label nz-col nzSpan="4" nzRequired>价格</nz-form-label>
            <nz-form-control nz-col nzSpan="14" nzHasFeedback nzErrorTip="请输入价格">
                <input nz-input type="number" formControlName="price" placeholder="请输入价格" />
            </nz-form-control>
        </nz-form-item>
        <!-- 购买者 -->
        <nz-form-item>
            <nz-form-label nz-col nzSpan="4" nzRequired>购买者</nz-form-label>
            <nz-form-control nz-col nzSpan="14" nzHasFeedback nzErrorTip="请输入正确的购买者">
                <input nz-input formControlName="purchaser" placeholder="请输入购买者名称" />
            </nz-form-control>
        </nz-form-item>
        <!-- 购买日期 -->
        <nz-form-item>
            <nz-form-label nz-col nzSpan="4" nzRequired>购买日期</nz-form-label>
            <nz-form-control nz-col nzSpan="14" nzHasFeedback nzErrorTip="请输入正确的购买者">
                <nz-date-picker formControlName="purchasedate" placeholder="请选择购买日期"></nz-date-picker>
                <!-- <input nz-input formControlName="purchasedate" placeholder="请选择购买日期" /> -->
            </nz-form-control>
        </nz-form-item>
        <!-- 购买数量 -->
        <nz-form-item>
            <nz-form-label nz-col nzSpan="4" nzRequired>购买数量</nz-form-label>
            <nz-form-control nz-col nzSpan="14" nzHasFeedback>
                <input nz-input type="number" formControlName="num" placeholder="请输入购买数量" />
            </nz-form-control>
        </nz-form-item>
        <!-- 设备描述 -->
        <nz-form-item>
            <nz-form-label nz-col nzSpan="4" nzRequired>设备描述</nz-form-label>
            <nz-form-control nz-col nzSpan="14" nzHasFeedback nzErrorTip="请输入设备描述">
                <textarea nz-input rows="3" formControlName="description" placeholder="请输入设备描述"></textarea>
            </nz-form-control>
        </nz-form-item>
        <!-- 设备简介 -->
        <nz-form-item>
            <nz-form-label nz-col nzSpan="4" nzRequired>设备简介</nz-form-label>
            <nz-form-control nz-col nzSpan="14" nzHasFeedback nzErrorTip="请输入设备简介">
                <textarea nz-input rows="6" formControlName="equipintroduction" placeholder="请输入设备设备简介"></textarea>
            </nz-form-control>
        </nz-form-item>
        <!-- 设备状态 -->
        <nz-form-item style="pointer-events: none;">
            <nz-form-label nz-col nzSpan="4" nzRequired>设备状态</nz-form-label>
            <nz-form-control nz-col nzSpan="14" nzHasFeedback>
                <input nz-input formControlName="status" [ngModel]="'入库'" [disabled]="true" />
            </nz-form-control>
        </nz-form-item>
        <!-- 入库时间 -->
        <!-- <nz-form-item style="display:none">
            <nz-form-label nz-col nzSpan="4">入库时间</nz-form-label>
            <nz-form-control nz-col nzSpan="14" nzHasFeedback>
                <nz-date-picker formControlName="begionusetime"></nz-date-picker>
            </nz-form-control>
        </nz-form-item> -->
        <!-- 库存数量 -->
        <nz-form-item style="display:none">
            <nz-form-label nz-col nzSpan="4">库存数量</nz-form-label>
            <nz-form-control nz-col nzSpan="14" nzHasFeedback>
                <input nz-input formControlName="residuenum" placeholder="库存数量" />
            </nz-form-control>
        </nz-form-item>
        <!-- 类型 -->
        <nz-form-item>
            <nz-form-label nz-col nzSpan="4" nzRequired>类型</nz-form-label>
            <nz-form-control nz-col nzSpan="14" nzHasFeedback>
                <!-- <input nz-input formControlName="type" placeholder="类型" /> -->
                <nz-select formControlName="type" [ngModel]="'学生设备'">
                    <nz-option nzValue="学生设备" nzLabel="学生设备"></nz-option>
                    <nz-option nzValue="教师设备" nzLabel="教师设备"></nz-option>
                    <nz-option nzValue="教室设备" nzLabel="教室设备"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <!-- 按钮 -->
        <nz-form-item>
            <nz-form-control [nzOffset]="4" nz-col nzSpan="14">
                <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
                <button nz-button (click)="resetForm($event)">Reset</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>