<div class="main-container">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>用户名</nz-form-label>
            <nz-form-control [nzSpan]="12" nzValidatingTip="Validating..." style="pointer-events: none;">
                <input nz-input formControlName="username" [ngModel]="username" [disabled]="true" placeholder="请输入用户名" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>密码</nz-form-label>
            <nz-form-control [nzSpan]="12" nzDisableAutoTips nzErrorTip="请输入密码!">
                <input nz-input type="password" formControlName="password" placeholder="请输入密码" (ngModelChange)="validateConfirmPassword()" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>确认密码</nz-form-label>
            <nz-form-control [nzSpan]="12" nzDisableAutoTips [nzErrorTip]="passwordErrorTpl">
                <input nz-input type="password" formControlName="confirm" placeholder="请再次输入密码" />
                <ng-template #passwordErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        请确认密码!
                    </ng-container>
                    <ng-container *ngIf="control.hasError('confirm')">
                        两次密码不一致!
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <!-- <nz-form-item>
            <nz-form-control [nzOffset]="7" [nzSpan]="12">
                <button nz-button nzType="primary">注册</button>
                <button nz-button nzType="primary" (click)="cancleRegister()">取消</button>
            </nz-form-control>
        </nz-form-item> -->
    </form>
</div>
